{
  "overrides": [
    {
      "files": [".prettierrc", ".huskyrc", ".lintstagedrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "printWidth": 120,
  "trailingComma": "all",
  "singleQuote": true
}
